$p-color: blue;
$p-sibling: yellow;
$h2-sibling: green;
$s-border:true;

@function convert-rem($pixel){
   @return($pixel/16)*1rem;
}
* {
  padding: 0;
  margin: 0;
}

h1 {
  color: $p-color;
}

h1 + p {
  color: $p-sibling;
}

h1 + h2 {
  color: $h2-sibling;
}

ul {
  li {
    color: burlywood;
    display: inline-block;
  }
  a {
    color: blueviolet;
    &:hover {
      text-decoration: overline;
    }
  }
}
@mixin f1($direction:row){
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: $direction;
}
 f2{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
}
.c1{
  @include f1();
}
 .c2{
   width: 40vw;
   height: 20vh;
   padding: convert-rem(10px);
   margin-right: 10px;
 }

 .c3{
  @extend f2;
 }

 $colors:(red:#ff0000,green:#00ff00,blue:#0000ff);
 @each $x, $y in $colors{
.text-#{$x}{color:$y};
 }

 .button{
  background-color: #0000ff;
  color: white;
  width: fit-content;
  height: auto;
  border-radius: 2px;
  @if($s-border){
    border: 2px red solid;
  }
  &:hover{
    box-shadow: 5 5px 12px rgba(0, 0, 0, 0.50);
  }

 }

 [href^="http"]{
  color: green;
  &:hover{
    text-decoration: wavy;
  }
 }

 
 [href^="https"]{
  color: blue;
  &:hover{
    text-decoration: line-through;
  }
 }
 [href^=".pdf"]{
  color: yellow;
 }

 thead {
    tr {
      background-color: #ffd700; 
      th {
        padding: 4px;
        border: 1px solid #000;
        text-align: left;
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 4px;             
        border: 1px solid #000;
        text-align: left;
        &:hover{
    color: #0000ff;
  }
      }

      &:nth-child(even) {
        background-color: #f0f0f0; 
      }
    }
  }

  @media screen and (max-width: 1080px){
  input{
    width: 100%;
    height: 30px;
    background-color: gray;
    color: aqua;
  }
  }

    @media screen and (min-width: 1081px){
  input{
    width: 50%;
    height: 50px;
    background-color: orchid;
    color: blueviolet;
  }
  }